In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

--2022-10-13 18:51:49--  https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 84199 (82K) [application/x-httpd-php]
Saving to: ‘winequality-red.csv’

winequality-red.csv 100%[===================>]  82.23K  80.3KB/s    in 1.0s

2022-10-13 18:51:51 (80.3 KB/s) - ‘winequality-red.csv’ saved [84199/84199]

In [3]:
!wget https://storm.cis.fordham.edu/~gweiss/data-mining/weka-data/ionosphere.arff

--2022-10-13 18:52:34--  https://storm.cis.fordham.edu/~gweiss/data-mining/weka-data/ionosphere.arff
Resolving storm.cis.fordham.edu (storm.cis.fordham.edu)... 150.108.68.26
Connecting to storm.cis.fordham.edu (storm.cis.fordham.edu)|150.108.68.26|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80385 (79K) [text/plain]
Saving to: ‘ionosphere.arff’

ionosphere.arff     100%[===================>]  78.50K   214KB/s    in 0.4s

2022-10-13 18:52:35 (214 KB/s) - ‘ionosphere.arff’ saved [80385/80385]

In [4]:
!wget https://storm.cis.fordham.edu/~gweiss/data-mining/weka-data/diabetes.arff

--2022-10-13 18:53:02--  https://storm.cis.fordham.edu/~gweiss/data-mining/weka-data/diabetes.arff
Resolving storm.cis.fordham.edu (storm.cis.fordham.edu)... 150.108.68.26
Connecting to storm.cis.fordham.edu (storm.cis.fordham.edu)|150.108.68.26|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 37419 (37K) [text/plain]
Saving to: ‘diabetes.arff’

diabetes.arff       100%[===================>]  36.54K   172KB/s    in 0.2s

2022-10-13 18:53:03 (172 KB/s) - ‘diabetes.arff’ saved [37419/37419]

In [13]:
!wget https://storm.cis.fordham.edu/~gweiss/data-mining/weka-data/iris.arff

--2022-10-13 19:12:37--  https://storm.cis.fordham.edu/~gweiss/data-mining/weka-data/iris.arff
Resolving storm.cis.fordham.edu (storm.cis.fordham.edu)... 150.108.68.26
Connecting to storm.cis.fordham.edu (storm.cis.fordham.edu)|150.108.68.26|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7486 (7.3K) [text/plain]
Saving to: ‘iris.arff’

iris.arff           100%[===================>]   7.31K  --.-KB/s    in 0s

2022-10-13 19:12:38 (2.50 GB/s) - ‘iris.arff’ saved [7486/7486]

In [19]:
!wget https://storm.cis.fordham.edu/~gweiss/data-mining/weka-data/cpu.arff

--2022-10-13 19:14:01--  https://storm.cis.fordham.edu/~gweiss/data-mining/weka-data/cpu.arff
Resolving storm.cis.fordham.edu (storm.cis.fordham.edu)... 150.108.68.26
Connecting to storm.cis.fordham.edu (storm.cis.fordham.edu)|150.108.68.26|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5540 (5.4K) [text/plain]
Saving to: ‘cpu.arff’

cpu.arff            100%[===================>]   5.41K  --.-KB/s    in 0s

2022-10-13 19:14:02 (1.24 GB/s) - ‘cpu.arff’ saved [5540/5540]

# Exercise 2

In [22]:
from scipy.io import arff
import pandas as pd
import matplotlib.pyplot as plt

data = arff.loadarff('ionosphere.arff')
df_iono = pd.DataFrame(data[0])

data = arff.loadarff('diabetes.arff')
df_diabe = pd.DataFrame(data[0])

data = arff.loadarff('iris.arff')
df_iris = pd.DataFrame(data[0])

data = arff.loadarff('cpu.arff')
df_cpu = pd.DataFrame(data[0])

df_wine = pd.read_csv('winequality-red.csv', sep=";")

In [23]:
df_cpu.head()

    MYCT    MMIN     MMAX   CACH  CHMIN  CHMAX  class
0  125.0   256.0   6000.0  256.0   16.0  128.0  198.0
1   29.0  8000.0  32000.0   32.0    8.0   32.0  269.0
2   29.0  8000.0  32000.0   32.0    8.0   32.0  220.0
3   29.0  8000.0  32000.0   32.0    8.0   32.0  172.0
4   29.0  8000.0  16000.0   32.0    8.0   16.0  132.0

In [15]:
df_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [16]:
df_iono.head()

,a01,a02,a03,a04,a05,a06,a07,a08,a09,a10,...,a26,a27,a28,a29,a30,a31,a32,a33,a34,class
0,1.0,0.0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,b'g'
1,1.0,0.0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b'b'
2,1.0,0.0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,b'g'
3,1.0,0.0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b'b'
4,1.0,0.0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,b'g'

In [17]:
df_diabe.head()

   preg   plas  pres  skin   insu  mass   pedi   age               class
0   6.0  148.0  72.0  35.0    0.0  33.6  0.627  50.0  b'tested_positive'
1   1.0   85.0  66.0  29.0    0.0  26.6  0.351  31.0  b'tested_negative'
2   8.0  183.0  64.0   0.0    0.0  23.3  0.672  32.0  b'tested_positive'
3   1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0  b'tested_negative'
4   0.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0  b'tested_positive'

In [18]:
df_iris.head()

   sepallength  sepalwidth  petallength  petalwidth           class
0          5.1         3.5          1.4         0.2  b'Iris-setosa'
1          4.9         3.0          1.4         0.2  b'Iris-setosa'
2          4.7         3.2          1.3         0.2  b'Iris-setosa'
3          4.6         3.1          1.5         0.2  b'Iris-setosa'
4          5.0         3.6          1.4         0.2  b'Iris-setosa'

In [25]:
# Changing the last categorical class value into a numerical value

df_iono['class'] = pd.factorize(df_iono['class'])[0]

df_iono.head()

,a01,a02,a03,a04,a05,a06,a07,a08,a09,a10,...,a26,a27,a28,a29,a30,a31,a32,a33,a34,class
0,1.0,0.0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,0
1,1.0,0.0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,1
2,1.0,0.0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,0
3,1.0,0.0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,1
4,1.0,0.0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,0

In [26]:
df_diabe['class'] = pd.factorize(df_diabe['class'])[0]

df_diabe.head()

   preg   plas  pres  skin   insu  mass   pedi   age  class
0   6.0  148.0  72.0  35.0    0.0  33.6  0.627  50.0      0
1   1.0   85.0  66.0  29.0    0.0  26.6  0.351  31.0      1
2   8.0  183.0  64.0   0.0    0.0  23.3  0.672  32.0      0
3   1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0      1
4   0.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0      0

In [30]:
df_iris['class'] = pd.factorize(df_iris['class'])[0]

df_iris.head()

   sepallength  sepalwidth  petallength  petalwidth  class
0          5.1         3.5          1.4         0.2      0
1          4.9         3.0          1.4         0.2      0
2          4.7         3.2          1.3         0.2      0
3          4.6         3.1          1.5         0.2      0
4          5.0         3.6          1.4         0.2      0

In [124]:
from sklearn.neighbors import KNeighborsClassifier
# ionosphere

from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(df_iono.iloc[:, 0:len(df_iono.columns) - 1],
                                                    df_iono.iloc[:, len(df_iono.columns) - 1], random_state=42,
                                                    test_size=0.3)


knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
knn.score(X_test, y_test)

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

y_pred = knn.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

old_knn_score = metrics.accuracy_score(y_test, y_pred)

Accuracy: 0.8490566037735849

In [125]:
from sklearn.neighbors import KNeighborsClassifier
# diabetes

from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(df_diabe.iloc[:, 0:len(df_diabe.columns) - 1],
                                                    df_diabe.iloc[:, len(df_diabe.columns) - 1], random_state=42,
                                                    test_size=0.3)


knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
knn.score(X_test, y_test)

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

y_pred = knn.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

old_knn_score = metrics.accuracy_score(y_test, y_pred)

Accuracy: 0.6753246753246753

In [127]:
from sklearn.neighbors import KNeighborsClassifier
# diabetes

from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(df_iris.iloc[:, 0:len(df_iris.columns) - 1],
                                                    df_iris.iloc[:, len(df_iris.columns) - 1], random_state=42,
                                                    test_size=0.3)


knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
knn.score(X_test, y_test)

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

y_pred = knn.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

old_knn_score = metrics.accuracy_score(y_test, y_pred)

Accuracy: 1.0

In [128]:
from sklearn.neighbors import KNeighborsClassifier
# diabetes

from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(df_wine.iloc[:, 0:len(df_wine.columns) - 1],
                                                    df_wine.iloc[:, len(df_wine.columns) - 1], random_state=42,
                                                    test_size=0.3)


knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
knn.score(X_test, y_test)

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

y_pred = knn.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

old_knn_score = metrics.accuracy_score(y_test, y_pred)

Accuracy: 0.4479166666666667

In [129]:
from sklearn.neighbors import KNeighborsClassifier
# diabetes

from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(df_cpu.iloc[:, 0:len(df_cpu.columns) - 1],
                                                    df_cpu.iloc[:, len(df_cpu.columns) - 1], random_state=42,
                                                    test_size=0.3)


knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
knn.score(X_test, y_test)

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

y_pred = knn.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

old_knn_score = metrics.accuracy_score(y_test, y_pred)

Accuracy: 0.015873015873015872

In [148]:
from sklearn import tree

X_train, X_test, y_train, y_test = train_test_split(df_iono.iloc[:, 0:len(df_iono.columns) - 1],
                                                    df_iono.iloc[:, len(df_iono.columns) - 1], random_state=42,
                                                    test_size=0.3)

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
old_tree_score = clf.score(X_test, y_test)

print("Accuracy:", old_tree_score)

Accuracy: 0.8867924528301887